@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500;800&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    font-family: 'Mukta', sans-serif;
}

body{
    background: url(../images/background1.jpg) no-repeat center center fixed;
    background-size: cover;
}
.mae{
    background-color: rgba(0, 0, 0, 0.8);
}

h1{
    font-size: 80px;
}
h2{
    font-size: 50px;
}
p{
    font-size: 18px;
    padding: 5px 0;
    letter-spacing: 0.8px;
}

.slide{
    scroll-snap-align: center;
}